@model IEnumerable<SwiftPickup.Data.Topic>
@{
    ViewBag.Title = "Driver Home";
    ViewBag.InitModule = "driverHomeIndex";
}
@section Scripts{
<script src="~/js/driver/driver-home-index.js"></script>
    }

<div data-ng-view=""></div>